<div class="container mt-5 w-50 shadow p-4">
    <form #signupForm="ngForm" (ngSubmit)="save(signupForm)">
        <h1 style="text-align: center;">Template Driven Form</h1>

    <div class="mb-3">
      <label for="id1" class="form-label">First Name</label>
      <input type="text" class="form-control" id="id1" name="fName" required pattern="[a-zA-Z]{2,10}" ngModel #fName="ngModel"  >
      <div class="row" *ngIf="fName.touched && fName.invalid">
          <div class="invalid-feedback d-block" *ngIf="fName.errors?.['pattern']">It is required</div>
          <div class="invalid-feedback d-block" *ngIf="fName.errors?.['minlength']">Minimum 2 Characters Are Required</div>
          <div class="invalid-feedback d-block" *ngIf="fName.errors?.['maxlength']">Max 10 Characters Are Required</div>
      </div>
    </div>
    <div class="mb-3">
      <label for="id2" class="form-label">Last Name</label>
      <input type="text" class="form-control" id="id2" name="lName" ngModel #lName="ngModel" required pattern="[a-zA-Z]{2,10}">
      <div class="row" *ngIf="lName.touched && lName.invalid">
        <div class="invalid-feedback d-block" *ngIf="lName.errors?.['pattern']">It is required</div>
        <div class="invalid-feedback d-block" *ngIf="lName.errors?.['minlength']">Minimum 2 Characters Are Required</div>
        <div class="invalid-feedback d-block" *ngIf="lName.errors?.['maxlength']">Max 10 Characters Are Required</div>
    </div>
    </div>
    <div class="mb-3">
        <label for="id3" class="form-label">Mobile Number</label>
        <input type="text" class="form-control" id="id3" name="mobNo" ngModel #mobNo="ngModel" required >
        <div class="row" *ngIf="mobNo.touched && mobNo.invalid">
            <div class="invalid-feedback d-block" *ngIf="mobNo.errors?.['pattern']">It is required</div>
            <div class="invalid-feedback d-block" *ngIf="mobNo.errors?.['minlength']">Minimum 2 Characters Are Required</div>
            <div class="invalid-feedback d-block" *ngIf="mobNo.errors?.['maxlength']">Max 10 Characters Are Required</div>
        </div>
      </div>
     <div class="mb-3">
        <label for="id5" class="form-label">Password</label>
        <input type="text" class="form-control" id="id5" name="pass" ngModel #pass="ngModel">
        <div class="row" *ngIf="pass.touched && pass.invalid">
            <div class="invalid-feedback d-block" *ngIf="pass.errors?.['pattern']">It is required</div>
            <div class="invalid-feedback d-block" *ngIf="pass.errors?.['minlength']">Minimum 2 Characters Are Required</div>
            <div class="invalid-feedback d-block" *ngIf="pass.errors?.['maxlength']">Max 10 Characters Are Required</div>
        </div>
      </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>